<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteBase /~cnedd/surveytool
   RewriteRule    ^fop-1.0 - [L]
   RewriteRule    ^quexf - [L]
   RewriteRule    ^$ app/webroot/    [L]
   RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>
