<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /~cnedd/surveytool
    RewriteRule    ^quexf - [L]
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
</IfModule>
